<%= form_for @character do |f| %>
  <% if @character.errors.any? %>
    <div class="error_messages">
        <h2><%= pluralize(@character.errors.count, "error") %> prohibited this character from being saved:</h2>
        <ul>
            <% @character.errors.full_messages.each do |msg| %>
            <li><%= msg %></li>
            <% end %>
        </ul>
    </div>
  <% end %>
  
  <div class="field">
      <%= f.label :name %>
      <br />
      <%= f.text_field :name %>
      <%= f.label :description %>
      <br />
      <%= f.text_field :description %>
  </div>
  
  <%= f.fields_for :archetypes do |builder| %>
    <%= render 'archetype_fields', :f => builder %>
  <% end %>
  <%= link_to_add_fields "Add Acrhetype", f, :archetypes %>
  
  <div class="form-actions">
      <%= f.button :submit, :class => 'btn-primary' %>
      <%= link_to t('.cancel', :default => t("helpers.links.cancel")),
      characters_path, :class => 'btn' %>
  </div>
<% end %>
